div.main {
  // min-height: 100vh;
  // padding-bottom: 60px;
  background-image: url(../images/mesh.png);
  // background-color: #fcd7d4;
  // background-image: linear-gradient(270deg, #fcd7d4 20%, #c3bdc5 50%, #fcd7d4 80%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: url(../images/cursor.png), auto;	
}
div.container{
  padding: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
div.full-height {
  min-height: 100vh;
  width: 100%;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: 0px;
    height: 30px;
    clear: both;
    background-color: #a19da3;
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }

    a{ 
      color: white;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}

