
.fixednav{
  position: fixed;
  width: 100%;
  z-index: 5;
}
.header {
  display: flex;
  background: grey;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 60px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
}
.logo {
  width: 65px;
  height: 65px;
}
.nav-options {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style-type: none;
  color: rgb(252, 215, 212);
  border-bottom: 1px solid rgb(252, 215, 212);
}
.mobile-option {
  display: none;
}
.option{
  margin-top: 1px;
}
.option:hover {
  color: white;
}
.option:focus{
  color: rgb(252, 215, 212);
}
.option:active{
  color: rgb(252, 215, 212);
}
.linkname{
  color: rgb(252, 215, 212);
}
.linkname:hover{
  text-decoration: none;
  background-color: rgb(252, 215, 212);
  color: grey;
  border-radius: 4px;
}
.signin-up {
  margin-top: 12px;
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
  color: rgb(252, 215, 212);
}
.sign-infname {
  margin-top: 20px;
  padding-right: 1px;
  color: rgb(252, 215, 212);
}
.sign-in :hover {
  color: white;
  text-decoration: none;
}
.signincolor{
  color: rgb(252, 215, 212);
}
.signup-btn {
  // padding: 10px 10px;
  // height: 2.4rem;
  // border-radius: 3px;
  // background: darkgray;
  color: rgb(252, 215, 212);
  cursor: pointer;
  align-items: center;
}
.signup-btn:hover{
  color: white;
  text-decoration: none;
}
.mobile-menu {
  display: none;
}
@media (max-width: 648px) {
  /*Mobile View */
  .fixednav{
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .linkname{
    color: rgb(252, 215, 212);
  }
  .linkname:hover{
    text-decoration: none;
  }
  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 580px;
    position: absolute;
    top: 59px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: rgba(138, 133, 133, 1);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 50px;
    height: 50px;
    color: rgb(252, 215, 212);

  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 23px 0px;
    color:  rgba(252, 215, 212, 0.9);
    border-bottom: darkgreen;
  }
  .sign-up {
    background: darkgray;
    margin-top: 40px;
    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
    border: 4px solid rgb(252, 215, 212);
  }
  .signin-up {
    display: none;
  }
  .signincolor{
    color: rgb(252, 215, 212);
  }
  .signincolorfname{
    color: rgb(252, 215, 212);
  }
  .signup-btn {
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    background: darkgray;
    color: rgb(252, 215, 212);
    cursor: pointer;
    align-items: center;
  }
  .signup-btn:hover{
    color: white;
    text-decoration: none;
  }
  .mobile-menu {
    display: block;
  }
}
.icon{
  font-size: 25px;
  text-shadow: 5px 5px rgba(0,0,0,0.4);
  margin-bottom: 5px;
  color: rgb(252, 215, 212);
}

