
.contop{
  text-align: center;
  margin-top: 60px;
}
.background {
    width: 100%;
    height: 330px;
    z-index: -100;
  }
.saying{
    z-index: 50;
    margin-top: -500px;
    margin-bottom: 140px;
}
.consaying{
    margin-top: 0;
    padding: 0;
}
/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet"> */
.h1title{
  margin-top: 50px;
  font-family: 'Playfair Display SC';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.whoweare{
  display: flex;
  justify-content: center;
  align-items: center;
}
.whoweare2{
  padding: 0 30px;
}
.salondiscrip{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.pwrap{
  text-align: justify;
}
.propic{
  float: left;
  height: 232px;
  transform: translateX(-16px);
}
.con4pics{
  margin-top: 20px;
  margin-bottom: 40px;
}
.row4pics, .row4pics2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row4pics2{
  margin-top: 20px;
}
.rowicons{
  margin-top: 20px;
}
.box{
  /* font-family: 'Cairo', sans-serif; */
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.box img{
  width: 100%;
  height: auto;
  transform-origin: bottom center;
  transform: perspective(500px) rotateX(0);
  transition: all 2s ease 2s;
}
.box:hover img{ transform: perspective(500px) rotateX(50deg); }
.box .boxcontent{
  color: #fff;
  background: linear-gradient(to right, rgba(252, 215, 212, 0.9), rgba(130, 124, 133, 0.8));
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: top center;
  transform: perspective(500px) rotateX(-50deg);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease 0s;
}
.box:hover .boxcontent{
  opacity: 1;
  transform: perspective(500px) rotateX(0);
}
.box .content{
  width: 80%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.title{
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 5px 5px rgba(0,0,0,0.1);
  margin: 0 0 1px;
}
.box .post{
  font-size: 12px;
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 0 10px;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.box .icon li{
  margin: 0 3px;
  display: inline-block;
}
.box .icon li a{
  color: #333;
  background: #fff;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50px/20px;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
  display: block;
  position: relative;
  transition: all 1s ease 0s;
}
.iconq{
  font-size: 35px;
  text-shadow: 5px 5px rgba(0,0,0,0.4);
}
.iconq:hover{
  color: rgb(252, 215, 212);
 
}
@media only screen and (max-width:990px){
  .box{ margin: 20px 20px 30px; }
}
.btnapt{
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgba(130, 124, 133);
  border: none;
}
.btnapt:hover{
  background-color: rgba(252, 215, 212);
}
.iconbtn{
  background-color: transparent;
  border: none;
}
.iconbtn:hover{
  background-color:transparent;
  border: none;
}
.iconbtn:focus{
  background-color: rgba(130, 124, 133);
  border: 2px solid rgba(130, 124, 133);
}
.iconbtn:active{
  background-color: rgba(130, 124, 133);
  border: 2px solid rgba(130, 124, 133);
}
.convideo{
  width: 100%;
  height: 100vh;
}