.topconsignin{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.conform{
    width: 80%;
}
.logindiv {
    width:100%;
    height: auto;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 16px 16px 15px #242323;
    margin-bottom: 50px;
  }
.logodiv{
    display: flex;
    justify-content: center;
}  
.logo{
    box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -moz-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
}
.title{
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
  }
  .title2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
.subtitle {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }
  .fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
  }
  .fields input {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
  }
  .username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;           
  }
  .fields svg {
    height: 22px;
    margin:0 10px -3px 25px;
  }
  .signinbutton {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color:rgba(252, 215, 212, 0.9);
    text-align: center;
    background: rgba(130, 124, 133, 0.8);
    box-shadow: 6px 6px 10px #706f6f,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signinbutton:hover {
    background:rgba(252, 215, 212, 0.9);
    color:rgba(130, 124, 133, 0.8);
  }
  .signinbutton:active {
    background:rgba(130, 124, 133, 0.8);
  }
  .link {
    padding-top: 20px;
    text-align: center;
  }
  .link Link {
    text-decoration: none;
    color:#aaa;
    font-size: 15px;
  }
  .dropdowndiv{
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
  }
  .dropdownbtn{
    color:rgba(252, 215, 212, 0.9);
    background-color: rgba(130, 124, 133, 0.8);
    border: none;
    width:220px;
    height: 60px;
    border-radius: 30px;
  }
  .dropdownbtn:hover{
    background-color: rgba(252, 215, 212, 0.9);
    color: rgba(130, 124, 133, 0.8);
    border: none;
  }
  .dropdownbtn:focus{
    background-color: rgba(252, 215, 212, 0.9);
    color: rgba(130, 124, 133, 0.8);
    border: none;
  }
  textarea{
    width: 100%;
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;  
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
  }
  .htmltitle{
    margin-left: 10px;
  }