.topconproduct{
    margin-bottom: 50px;
    margin-top: 100px;
}
.h1title{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(252, 215, 212);
}
.productgrid{
    background: #fff;
    font-family: 'Playfair Display SC';
    /* border: 5px solid #e5e5e5; */
    border-radius: 22px;
}
.productimage{
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.productgrid .productimage .image{ display: block; }
.productgrid .productimage .image:before{
    content: '';
    background-color: #e52d53;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    opacity: .1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease .35s;
}
.productgrid:hover .productimage .image:before{
    opacity: 0.4;
    height: 100%;
}
.productgrid .productimage .actualimg{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transform: scale(.85);
    transition: all 0.5s ease 0s;
}
.productgrid:hover .productimage .actualimg{
     transform: scale(1);
}
.productlikeicon{
    color: #eedddd;
    font-size: 23px;
    line-height: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.productgrid:hover .productlikeicon{
    color: rgb(255, 0, 0);
    top: 20px;
    right: 20px;
    transition-delay: 0.2s;
}
.productlikeicon:hover{ 
    color: rgb(255, 0, 0); 
}
.productcontent{
    padding: 20px 10px;
    position: relative;
}
.rating{
    display: flex;
    justify-content: center;
    color: #999;
    font-size: 12px;
    padding: 0;
    margin: 0 0 7px;
}
.productgrid .rating .fas{
     color: #e52d53; 
}
.productgrid .title{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.productgrid .title .linka{
    color: #000;
    transition: all 0.3s ease 0s;
    color: rgba(130, 124, 133);
    text-decoration: none;
}
.productgrid .title .linka:hover{ color: #e52d53; }
.productgrid .price{
    color: #e52d53;
    font-size: 18px;
    font-weight: 800;
}
.addtocart{
    font-size: 25px;
}
.addtocart{
    color: white;
    background: #e52d53;
    text-align: center;
    line-height: 35px;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s ease 0s;
}
.productgrid .addtocart:hover{ color: rgba(130, 124, 133); }
@media screen and (max-width: 990px){
    .productgrid{ margin: 0 0 30px; }
}