.topconsignin{
    margin-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.conform{
  width: 75%;
}
.logindiv {
    width:100%;
    height: auto;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 16px 16px 15px #242323;
    margin-bottom: 50px;
  }
.logodiv{
    display: flex;
    justify-content: center;
}  
.logo{
    box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -moz-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
}
.title {
    text-align: center;
    font-size: 38px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
.subtitle {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }
  .name{
    margin-bottom: 30px;
  }
  .treatdiv {
    margin-bottom: 30px;
    border-radius: 25px;
    width: 100%;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;            
  }
  .rowdiv{
      width: 100%;
      display: flex;
      justify-content: space-around;
  }
  .datetreat{
      display: flex;
      justify-content: space-around;
  }
.Notesabouttreatment{
    text-align: center;
    margin-bottom: 1px;
}
.Notesabouttreatment2{
    width: 80%;
    margin: auto;
    font-size: 14px;
}
.datetreatp3{
    font-size: 14px;
}
.datetreatp1{
    margin-bottom: 1px;
}
