.topconservices{
    margin-bottom: 50px;
    margin-top: 100px;
}
.h1title{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(252, 215, 212);
}
.signinbuttondiv{
    display: flex;
    justify-content: center;
}
.signinbutton {
    outline: none;
    border:none;
    cursor: pointer;
    width:50%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: rgba(130, 124, 133, 0.8);
    box-shadow: 6px 6px 10px #706f6f;
    transition: 0.5s;
  }
  .signinbutton:hover {
    background:rgba(252, 215, 212, 0.9);
  }
  .signinbutton:active {
    background:rgba(130, 124, 133, 0.8);
  }
  .linkcolor{
    color:rgba(252, 215, 212, 0.9);
  }
  .linkcolor:hover{
    color:rgba(130, 124, 133, 0.8);
    text-decoration: none;
  }