.topconsignin{
    margin-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.conform{
  width: 75%;
}
.logindiv {
    width:100%;
    height: 1200px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 16px 16px 15px #242323;
    margin-bottom: 50px;
  }
.logodiv{
    display: flex;
    justify-content: center;
}  
.logo{
    box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -moz-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
}
.title {
    text-align: center;
    font-size: 38px;
    letter-spacing: 0.5px;
  }
.subtitle {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }
  .fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
  }
  .fields input {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
  }
  .username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
  }
.bday {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
  .fields svg {
    height: 22px;
    margin:0 10px -3px 25px;
  }
  .signinbutton, .signinbutton1{
    outline: none;
    border:none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:rgba(252, 215, 212, 0.9);
    text-align: center;
    background: rgba(130, 124, 133, 0.8);
    box-shadow: 6px 6px 10px #706f6f,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signinbutton:hover, .signinbutton1:hover {
    background:rgba(252, 215, 212, 0.9);
    color:rgba(130, 124, 133, 0.8);
  }
  .signinbutton:active, .signinbutton1:active {
    background:rgba(130, 124, 133, 0.8);
  }
  .link {
    padding-top: 20px;
    text-align: center;
  }
  .link Link {
    text-decoration: none;
    color:#aaa;
    font-size: 15px;
  }
  .bottombtn{
    margin-top: 20px;
  }