	
.contextdark, .bggraydark, .bgprimary {
    color: rgb(252, 215, 212);
}
.footerclassic{
    background-color: #a19da3;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    color: rgb(252, 215, 212);
    cursor: url(../images/cursor.png), auto;
}
.logo, .logo1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.logo1:hover{
    transform: scale(1.45);
    transition-duration: 1.5s;
    z-index: 10;
}
/* .footerclassic Link, .footerclassic Link:focus, .footerclassic Link:active {
    color: rgb(252, 215, 212);
} */
.emailinfo{
    text-decoration: none;
    color: rgb(252, 215, 212);
}
.emaiinfo:hover{
text-decoration: none; 
color: rgb(252, 215, 212);
}

.navlist li {
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.navlist li Link:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.socialinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    color: rgb(252, 215, 212);
    text-decoration: none;
}
.socialcontainer .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.navlist li Link:before {
    color: black;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.rowsocial{
    display: flex;
    justify-content: center;
}
.btnapt{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid rgba(130, 124, 133);
    color: rgba(130, 124, 133);
  }
  .btnapt:hover{
    background-color: rgba(252, 215, 212);
  }
  .iconq{
    font-size: 35px;
    text-shadow: 5px 5px rgba(0,0,0,0.4);
    margin-bottom: 0;
  }
  .iconq:hover{
    color: rgb(252, 215, 212);
   
  }