.dataimg, .dataimg2{
    border-radius: 25px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
    -moz-box-shadow: 16px 19px 26px -1px rgba(0,0,0,1);
}
.dataimg2{
    margin-bottom: 100px;
    margin-top: 40px;
}