.imgprofile{
    width: 320px;
    transform: translateX(-16px);
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(10px 10px 8px #222222);
}
@media only screen and (max-width:990px){
    .dataimg{
        width: 100%;
        height: auto;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(10px 10px 8px #222222);
    }
  }